#video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}

.content {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

button {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  margin-left: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background: #ddd;
  color: black;
}

#myBar {
  width: 200px!important;
  height: 30px;
  background-color: #4CAF50;
}